{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h2>My Cart</h2>
<br>
<h3><a class="article-title" href="{% url "clearcart" %}">Clear Cart</a></h3>
<br>
{% for product in cart_items %}
        <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ product.product.seller }}</a>
            <a class="mr-2" href="#">{{ product.product.id }}</a>
            </div>
            <h3><a class="article-title" href="{% url 'product_detail' product.product.id %}">{{ product.product.title }}</a></h3>
            <p class="article-content">price of 1 unit ${{ product.product.price }}</p>
            <p class="article-content">Quantity {{ product.quantity }}</p>
            <img class="article-img" src="{{ product.product.image.url }}" alt="{{ product.product.title }} width="500" height='300'">
        </div>
        </article>
    {% endfor %}
    <h2><a class="article-title" href="">Total price = {{ cart.total_value }}</a></h2>
    <form method="post" action="{% url 'orderplaced' %}">
        {% csrf_token %}
        <button type="submit">Place Order</button>
    </form>
{% endblock content %}
