{% extends "store/main.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.seller }}</a>
        {% if object.seller == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url "productdelete" product.id%}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.price }}</p>
      <img class="article-img" src="{{ product.image.url }}" alt="{{ product.title }} width="500" height='300'">
      <a class="nav-item nav-link" href="{% url 'add_to_cart' product.id%}">Add to cart</a>
      {% if img_obj %}  
        <h3>Succesfully uploaded : {{img_obj.caption}}</h3>  
        <img src="{{ img_obj.image.url }}" alt="connect" style="max-height:300px">  
      {% endif %} 
    </div>
  </article>
  <br>
  <br>
  <h3>Reviews</h3>
  <br>
  {% for review in object.review.all %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ review.customer }}</a>
        </div>
        <h2 class="article-title">{{ review.title }}</h2>
        <p class="article-content">{{ review.description }}</p>
      </div>
      <br>
    </article>
    {% endfor %}
{% endblock content %}