{% extends "store/main.html" %}
{% block content %}
    <a class="nav-link" href="{% url "vendorupdate" %}">Update E-mail</a>
    <br>
    <a class="nav-link" href="{% url "getreport" %}">Download Report</a>
    <br>
    <br>
    {% for product in products %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ product.seller }}</a>
            </div>
            <h2><a class="article-title" href="{% url 'product_detail' product.id %}">{{ product.title }}</a></h2>
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url "productdelete" product.id%}">Delete</a>
            </div>
            <p class="article-content">${{ product.price }}</p>
            <p class="article-content">in stock = {{ product.quantity }}</p>
            <p class="article-content">orders = {{ product.orders }}</p>
            <img class="article-img" src="{{ product.image.url }}" alt="{{ product.title }} width="500" height='300'">
            <p class="article-content">Description:
               {{ product.description }}</p>
          </div>
        </article>
    {% endfor %}
   
{% endblock content %}