{% extends 'store/main.html' %}
{% load static %}
{% load product_filters %}
{% block content %}
<h2>HOME</h2>
<br>
	{% for product in products %}
	<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
		<a class="mr-2" href="#">Seller : {{ product.seller }}</a>
		</div>
		<h3><a class="article-title" href="{% url 'product_detail' product.id %}">{{ product.title }}</a></h3>
		<p class="article-content">Original Price : $<s>{{ product.price }}</s></p>
		<p class="article-content">Discounted Price : ${{ product|get_discounted_price }}</p>
		<p class="article-content">available quantity = {{ product.quantity }}</p>
		<img class="article-img" src="{{ product.image.url }}" alt="{{ product.title }}" width="500" height='300'>
		<p class="article-content">Description:
		{{ product.description }}</p>
		<a class="nav-item nav-link" href="{% url 'add_to_cart' product.id%}">Add to Cart</a>
		<a class="nav-item nav-link" href="{% url "add_to_wishlist" product.id%}">Add to Wishlist</a>
		<br>
	</div>
	</article>
	{% endfor %}
	
{% endblock content %}
