{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h2 class="mb-4">WISHLIST</h2>
<div class="mb-4">
    <a class="btn btn-danger" href="{% url "clearwishlist" %}">Clear Wishlist</a>
</div>
<div class="row">
    {% for product in wishlist_items %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{{ product.product.image.url }}" class="card-img-top" alt="{{ product.product.title }}" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ product.product.title }}</h5>
                <p class="card-text">Price: ${{ product.product.price }}</p>
                <a href="{% url 'add_to_cart' product.id%}" class="btn btn-success btn-sm">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
